<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <body>
    <div class="container">
        <div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Location Name</th>
                <th>Normalization Location Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let approval of allapproval">
                 <td>{{approval.locationName}}</td>
                 <td>{{approval.normalizedLocation}}</td>
                 <td class="controlButton">
                    <button class="btn btn-sm btn-success" (click)="approvereject(approval,'approve')">
                        <i class="fa fa-thumbs-up"></i>Approve</button>
                      <button class="btn btn-sm btn-danger" (click) = "approvereject(approval,'reject')" >
                        <i class="fa fa-thumbs-down"></i>Reject</button>
                 </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div> 
</body>
    </html>