<!-- // it will contain a record which will be Approved or reject -->
<div class="container">

    <!-- <div >
        <h4 style="text-align: center;">{{message}}</h4>
        <br>
    </div> -->

    <div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>All
                    <div style="size: 5px;">
                        <input type="checkbox" id="stagingId" name="stagingId" class="form-control" (click) = "checkedAPAll()" [(checked)] = "checked">
                    </div>
                </th>
                <th>Source</th>
                <th>Date Of Item</th>
                <!-- <th>Ecoo Company Name</th> -->
                <th>ISIN</th>
                <th>CUSPIN</th>
                <th>SEDOL</th>
                <th>Private Company Name</th>
                <th>Non Permisible Expected Date</th>
                <th>Status</th>
                <th>Modified Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let approval of allapproval">
                <td>
                    <input type="checkbox" id="stagingId" name="stagingId" value = {{approval.stagingId}} class="form-control" (click) = "checkedAP(approval)" [(checked)] = "checked">
                </td>
                 <td>{{approval.source}}</td>
                 <td>{{approval.dateOfItem}}</td>
                 <!-- <td>{{approval.ecooCompanyName}}</td> -->
                 <td>{{approval.isin}}</td>
                 <td>{{approval.cuspin}}</td>
                 <td>{{approval.sedol}}</td>
                 <td>{{approval.privateComapanyName}}</td>
                 <td>{{approval.nonPermisibleExpectedDate}}</td>
                 <td>{{approval.status}}</td>
                 <td>{{approval.date}}</td>
                 <td class="controlButton">
                    <button class="btn btn-sm btn-success" (click)="approveOrReject(approval,'approved')" >
                        <i class="fa fa-thumbs-up"></i>Approve</button>
                        <button class="btn btn-sm btn-danger"  (click) = "openDetails(content, approval)">
                            <i class="fa fa-thumbs-down"></i>Reject</button>
                      <!-- <button class="btn btn-sm btn-danger" (click) = "approveOrReject(approval,'reject')" >
                        <i class="fa fa-thumbs-down"></i>Reject</button> -->
                 </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div style="text-align: right;"class="controlButton">
    <button data-dismiss="modal" class="btn btn-success" (click)="onSelect('approve')"><i class="fa fa-thumbs-up"></i>Approve All</button>
    <button data-dismiss="modal"  class="btn btn-danger" (click)="openDetailsAll(contentDetailsAll)"><i class="fa fa-thumbs-down"></i>Reject All</button>
    <br>
    <br>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Reason for your Rejection!</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
             <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onReject(f.value)" novalidate>
            <div class="form-group">
                <div class="form-group">
                    <label for="source">Staging Id</label>
                    <div class="input-group">
                      <input id="stgId" name = "stagingId" class="form-control" readonly [(ngModel)] = "rejectStageId">
                    </div>
                  </div>
                <label for="rejectionNotes"></label>
                  <div class="input-group">
                    <input id="rejectionNotes" name = "rejectionNotes" class="form-control" [(ngModel)]="rejectNotes">
                  </div>
                  <div class="text-center">
                    <button data-dismiss="modal" class="btn btn-danger">Reject</button>
                  </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #contentDetailsAll let-modal>
    <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Reason For Rejection...</h4>
        </div>
        <div class="modal-body">
          <form #f="ngForm" (ngSubmit)="onSelect('reject')" novalidate>
            <div class="form-group">
                <label for="rejectionNotes"></label>
                <div class="input-group">
                    <input id="rejectionNotes" name = "rejectionNotes" class="form-control" [(ngModel)]="rejectNotesAll" >
                </div>
            </div>
            <div class="text-center">
                    <button data-dismiss="modal" class="btn btn-info">Reject</button>
            </div>
 
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        </div>
</ng-template> 

