<html>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href= "home">Home</a>
      <a class="navbar-brand" routerLink = "crbinventory">CRB INVENTORY</a>
      <a class="navbar-brand"routerLink= "LocationNormalization">LOCATION NORMALIZATION</a>
    </nav>
    <!-- <div class="center">
    <div><h1>BNYM-POC</h1></div> 
    <a routerLink="crbinventory"><button >CRB INVENTORY</button></a>
    <a routerLink="LocationNormalization"><button>LOCATION NORMALIZATION</button></a>
    </div> -->
    
      <!--  -->
    
    <router-outlet></router-outlet>
  </body>

<router-outlet></router-outlet>
</html>