<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="crb-tab" routerLink="/crbinventory" data-toggle="tab" href="#crbinventory" role="tab" aria-controls="crbinventory" aria-selected="true">CRB Inventory</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="location-tab" routerLink="/location" data-toggle="tab" href="#location" role="tab" aria-controls="location" aria-selected="false">Location</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
      <router-outlet></router-outlet>
  </div>
</div>